@{
    ViewData["Title"] = "Sucesso";
}

<div class="sucesso-box">
    

    <h2>Parabéns =D <br> Seu agendamento foi realizado com sucesso !!</h2>
    <p>
        Você já pode acessar o Aplicativo para maiores beneficios em nossas hospedagens.
        <br>
        Não se esqueça, seu usuário e senha são seu CPF.
    </p>

    <br>
    
    <img src="~/imgs/success.jpg" />

</div>