<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vallezweb</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="barra">
            <div class="esquerda">
                <a class="link" id="inf-link">
                    Informações  
                    <div id="informacao" class="">
                        <p> 
                            O Hotel esta funcionando diariamente todos os dias do ano. <br />
                            Os valores do Site são variáveis e suscetíveis a possíveis promoções eventuais. <br />
                            Agradecemos pela preferencia qualquer duvida entre em contato em nosso telefone 16 929037-8493325
                      
                        </p>    
                    </div>
                </a>
                <a class="link" asp-controller="Quartos" asp-action="Index">Suites</a>
                <a class="link" id="cont-link" >
                    Contato
                    <div id="contatos" class="">
                        <p> 
                           birbribririrbirib
                        </p>    
                    </div>
                </a>
            </div>
            <div class="centralizado">
                <h2>Hotel Dell Vallez</h2>
            </div>
            <div class="direita">

            </div>
        </nav>
        
        <div class="banner">
            
            <div class="img-logo">
                <a class="link" asp-controller="Home" asp-action="Index"><img src="~/imgs/logo.png" alt=""></a>
            </div>
            
            <div class="bem-vindo">
                <p>Bem vindo ao nosso Hotel, nós nos preocupamos com o bem-estar dos hóspedes, por isso prezamos por um atendimento de qualidade,
                    oferecendo quartos  confortáveis com segurança e economia. Tudo para que  você  tenha uma estadia tranquila e muito agradável. 
                    Está localizado em um ponto estratégico da cidade, próximo as principais avenidas e rodovias,  
                    com fácil acesso para feiras e eventos além de shoppings, bares e restaurantes. Venha conhecer nossos serviços!</p>
            </div> 

            <div class="img-wrapper">
                <div class="background">  </div>
                <img src="~/imgs/hotel.png" alt="">
            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <section class="contatos">
            <div>
                <div>
                    <h2>Entrar em Contato</h2>
                </div>
                <div>
                    <div class="dados-contato">
                        <input type="text" placeholder="Seu Nome:"/>
                        <input type="text" placeholder="Companhia:"/>
                    </div>
                    <div class="dados-contato">
                        <input type="email" placeholder="E-mail:"/>
                        <input type="tel" placeholder="Telefone:"/>
                    </div>

                </div>
                <div>
                    <button>Enviar</button>
                </div>
            </div>
        </section>

        <section class="redes">
            <div>
                <div class="notificacao-rede">
                    <input type="text"/>
                    <button>Enviar</button>
                </div>
                <div class="conteudos-rede">
                    <div>
                        <h1>Sobre as Redes Sociais</h1>
                        <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
                    </div>
                    <div class="img-instagram">
                        <h1>Instagram</h1>
                        <img src="~/imgs/quartos.png" alt="">
                    </div>
                    <div>
                        <h1>Redes Sociais</h1>
                        <a href="https://www.facebook.com/HotelsDellVales" target="_blank">Facebook</a>
                        <a href="https://www.twitter.com/HotelsDellVales" target="_blank">Twitter</a>
                    </div>
                    <div>
                        <h1>Terms of Use</h1>
                        <p>© Copyright 2022<p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
