@{
    ViewData["Title"] = "Home Page";
}




<body>
    <div class="servicos">
        <div class="esquerda">
            <h3>NOSSOS SERVIÇOS</h3>
        </div>
        <div class="direita">
            <img src="~/imgs/servico-arumar.png" alt="">
            <img src="~/imgs/servico-quarto.png" alt="">
            <img src="~/imgs/servico-almoco.png" alt="">
            <img src="~/imgs/servico-cafe-manha.png" alt="">
        </div>
    </div>
</body>