* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial;
}


.principal h1 {
    color:red;
}

.barra {
    background-color: orange;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
    position: relative;
    justify-content:space-between;
    height: 60px;
}

.barra .esquerda {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 20px;
}

.barra .esquerda .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.barra .esquerda .link:hover {
    background-color: #ff9100;
    height: 100%;
}

.barra .esquerda .link div {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: #fff !important;
    color: #D68F38;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    height: 300px;
}

.barra .esquerda .link div.is-active {
    opacity: 1;
}

.barra .esquerda .link div p{
    position: relative;
    opacity: 1 !important;
}

.barra .centralizado{
    color:white;
    justify-content:center;
    text-align:center;
}

.barra div{
    width:30%;
}













/*INICIO*/

header {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
}


@keyframes zoom {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}



.banner .img-logo img {
    margin: 10px;
}

.banner .img-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    animation: zoom 3s;
}

.banner .img-wrapper .background {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner .img-wrapper img {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.banner .img-logo {

    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 10px 0;
}

.banner h1 {
    color: red;
    font-size: 4rem;
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 10s forwards;
}

.banner .bem-vindo {
    padding: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.banner p {
    justify-content: right;
    color: #fff;
    font-size: 20px;
    text-align:center;
    width: 70%;
}


@keyframes moveBanner {
    0% {
        transform: translatey(10rem) rotateY(-30deg);
    }

    100% {
        transform: translatey(0) rotateY(0);
        opacity: 1;
    }
}
















/*SERVICOS*/
.servicos {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    background-color: #171616;
    color: white;
    padding:50px 0px;
    overflow: hidden;
}

.servicos h3 {
    font-family: Dubai;
    margin: 120px;
}

.servicos .direita {
    display: flex;
    justify-content:space-around;
    position: relative;
    animation: moveBanner2 2s ease-out;
}

.servicos .direita img{
    height: 100%;
    width:23.5%;
}

@keyframes moveBanner2 {
    0% {
        transform: translatex(200px);
        opacity: 0;
    }

    100% {
        transform: translatex(0) rotateX(0);
        opacity: 1;
    }

}

















/*QUARTOS*/

.barra-quartos {
    background-color: #F0E4D6;
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
    justify-content: space-between;
    padding: 2px 10px;
}

.barra-quartos .direita{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.barra-quartos .direita input {
    padding-bottom: 20px;
    width: 300px;
    height: 50px;
    margin-left: 10px;
    font-size: 18px;
}

.barra-quartos .direita input::placeholder {
    font-size: 18px;
    color: #464444;
}

.barra-quartos .direita p {
    margin-right: 20px;
    color: #D68F38;
    font-size: 25px;
}

.quartos-agendamento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

}

.quartos {
    margin: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    align-items: center;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    width: 400px;
    background-color: #fafafa;
    transition: 300ms;
}

.quartos:hover{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .1);
}

.quartos-agendamento .quartos > div {
    margin-bottom: 10px;
}

.quartos-agendamento .quartos .descricao-quarto h3 {
    text-align: center;
}

.quartos-agendamento .quartos .img-quartos {
    text-align: center;
}

.quartos-agendamento .quartos .img-quartos h1 {
    color: #D68F38;
}

.quartos-agendamento .quartos .img-quartos img {
    background-color: red;
    width: 100%;
    display: flex;
}

.quartos-agendamento .quartos a {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    transition: 300ms;
    background-color: #D68F38;
    color: white;
}

.quartos-agendamento a:hover {
    opacity: .8;
}


.quartos-agendamento .dados-agendamento {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 50px;
}


#filtrar-quartos{
    margin: 0px 10px 0px 20px;
    color: white;
    background-color: #1473E6;
    height: 30px;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #1473E6;

}


#filtrar-quartos:hover {
    opacity: 0.9;
    color: #000;
}

















/*CONTATO*/

.contatos {
    width:100%;
    background-color: #FDC98B;
    display:flex;
    justify-content:center;
    padding: 40px 0;
}

.contatos div {
text-align: center;
}

.contatos .dados-contato input {
    padding: 10px;
    margin: 10px 60px 20px 60px;
    width: 350px;
    outline: none;
    border: 1px solid #868686;
    border-radius: 5px;
}

.contatos button {
    color: white;
    background-color: #1473E6;
    height: 30px;
    width: 120px;
    cursor: pointer;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
    border-color: #1473E6;
}


.contatos button:hover {
    opacity: 0.9;
    color: #000;
}

.contatos h1 {
    color: #333333;
    font-size:18px;
}

.contatos h2 {
    color: #333333;
    font-size: 40px;
}




















/*REDESS*/


.redes{
    background-image: url("/imgs/fundo-rodape.png");
    padding: 100px 0;
}

.redes .notificacao-rede{
    text-align:end;
    padding:20px 300px;
}

.redes .notificacao-rede input {
    padding-bottom: 10px;
    width: 350px;
    height: 30px;
}

.redes .notificacao-rede button {
    margin: 10px 10px 0px 20px;
    color: white;
    background-color: #1473E6;
    height: 30px;
    width: 120px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #1473E6;
}


.redes button:hover {
    opacity: 0.9;
    color: #000;
}


.redes .conteudos-rede {
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.redes .conteudos-rede h1{
    color:white;
}

.redes .conteudos-rede p {
    color: #A7A7A7;
}

.redes .conteudos-rede a {
    color: #A7A7A7;
}


.redes .conteudos-rede div {
    margin:0px 30px;
}

.redes .conteudos-rede .img-instagram img{
    width:400px;
}






/*AGENDAMENTO*/

.agendamento {
    background-image: url("/imgs/fundo-quarto.png");
    background-size:100%;
    background-color: orange;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    position: relative;
    justify-content: space-between;
    background-color: #D2E3F3;
}

@media (max-width: 1220px){
    .agendamento{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.titulo-agendamento h2 {
    text-align: center;
    color: #333333;
    font-size: 40px;
    background-color: #D2E3F3;
}


.agendamento .esquerda {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    align-items: center;
}


.agendamento .esquerda img {
    width: 300px;
    align-items: end;
    border-radius:15px;
}

.agendamento .esquerda h1 {
    color: #D68F38;
    margin: 10px 0px 10px 0px;
}


.agendamento .center {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}


.agendamento .center .dados {
    width: 350px;
    margin: 20px 0;
}


.agendamento .center .dados input {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 100%;
}




.agendamento .center .botao {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}


.agendamento .center .botao button {
    color: white;
    background-color: #1473E6;
    height: 30px;
    width: 120px;
    cursor: pointer;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
    border-color: #1473E6;
    align-items: center;
    justify-content: center;
}


.agendamento .center .botao button:hover {
    opacity: 0.9;
    color: #000;
    align-items: center;
}


.agendamento .direita {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
    justify-content: right;
}


.agendamento .direita img {
    margin: 100px 0px 0px 0px;
    width: 400px;
    height: 350px;
    align-items: end;
    border-radius: 50%;
    border-color: #1473E6;
    border: 10px solid #585555;
}

#valor-final-estadia {
    color: #FE7600;
    font-weight: bold;
    font-size: 22px;
}

#dias-totais {
    color: #333333;
    font-weight: bold;
    font-size: 22px;
    margin: 20px 0px 0px 0px;
}

.agendamento .center .dados #mensagem{
    background-color: #ffcaca;
    padding: 10px;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    display: none;
}

.agendamento .center .dados #mensagem ul{
    padding-left: 20px;
}

.agendamento .center .dados .hidden-fields {
    display: none;
}

#loading {
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#loading img {
    width: 100px;
}







/* SUCESSO  */
.sucesso-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 40px 0;
}

.sucesso-box h2 { 
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.invisivel{
    display: none; 
}