* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.principal h1 {
    color:red;
}

.barra {
background-color: orange;
display: flex;
flex-direction: row;
z-index: 2;
position: relative;
justify-content:space-between;
}

.barra a {
    margin: 0px 10px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    
}

.barra .centralizado{
    color:white;
    justify-content:center;
    text-align:center;
}

.barra div{
    width:30%;
   
}


/*BARRA DE QUARTOS*/

.barra-quartos {
background-color: #F0E4D6;
display: flex;
flex-direction: row;
z-index: 1;
position: relative;
justify-content: space-between;
padding: 2px 10px;
}

.barra-quartos .esquerda button {
color: #D68F38;
font-size: 18px;
background-color: white;
border-color: white;
height: 50px;
width: 250px;
cursor: pointer;
}

.barra-quartos .direita{
display:flex;
flex-direction: row;
align-items: center;
}

.barra-quartos .direita input {
padding-bottom: 20px;
width: 150px;
height: 50px;
margin-left: 10px;

}

.barra-quartos .direita p {
margin-right: 20px;
color: #D68F38;
font-size: 25px;

}






/*CONTATO*/

.contatos {
    width:100%;
    background-color: #FDC98B;
    display:flex;
   justify-content:center;
}

.contatos div {
   text-align: center;
}

.contatos .dados-contato input{
    padding-bottom:20px;
    margin:10px 60px 20px 60px;
    width:350px;
}

.contatos button {
    color: white;
    background-color: #1473E6;
    height: 30px;
    width: 120px;
    cursor: pointer;
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
    border-color: #1473E6;
}


.contatos button:hover {
    opacity: 0.9;
    color: #000;
}

    .contatos h1 {
        color: #333333;
        font-size:18px;
    }

    .contatos h2 {
        color: #333333;
        font-size: 40px;
    }




/*REDESS*/


.redes{
    background-image: url("/imgs/fundo-rodape.png");

}

.redes .notificacao-rede{
    text-align:end;
    margin:20px 300px;
}

.redes .notificacao-rede input {
    padding-bottom: 10px;
    width: 350px;
    height: 30px;
}

    .redes .notificacao-rede button {
        margin: 10px 10px 0px 20px;
        color: white;
        background-color: #1473E6;
        height: 30px;
        width: 120px;
        cursor: pointer;
        border-radius: 5px;
        border-color: #1473E6;
    }


.redes button:hover {
    opacity: 0.9;
    color: #000;
}


.redes .conteudos-rede {
    display: flex;
    flex-direction: row;
    justify-content:center;
  
    
}

.redes .conteudos-rede h1{
    color:white;
}

.redes .conteudos-rede p {
    color: #A7A7A7;
}

.redes .conteudos-rede a {
    color: #A7A7A7;
}


.redes .conteudos-rede div {
  margin:0px 30px;
    
}

.redes .conteudos-rede .img-instagram img{
   width:400px;
}






/*INICIO*/

header{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
            
}
.img-wrapper{
    position:relative;
    z-index:1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    animation: zoom  25s;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner {
z-index: 2;
position: absolute;
width: 100%;
height: 100%;
top: 04%;
}


.banner .img-logo img{
    margin: 10px;
}


.banner h1{
    color: red;
    font-size: 4rem;
    font-weight: 200;
    text-shadow:  .3rem .4rem 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 1s forwards;
            
}

.banner button {
    color: white;
    background-color: red;
    padding: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1.3s forwards;
    border-radius: 5px;
    border-color: red;
}

.banner button:hover{
    opacity: 0.9;
    color: #000;
}

.banner p{ 
    justify-content: right;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    opacity: 0;
    animation: moveBanner 1.4s forwards;
}


@keyframes moveBanner {
    0%{
    transform: translatey(10rem) rotateY(-30deg); 
    }
    100%{
        transform: translatey(0) rotateY(0); 
        opacity: 1;
    }
}