@{
    ViewData["Title"] = "Agendamento";
}




<div>
    <div class="agendamento">
       

            <h2>Insira os dados para efetuar o pedido de agendamento</h2>
   
          
            <div class="dados dados-cliente">
                <h3> Dados do Cliente</h3>
                <p>CPF: </p>
                <input type="text" />
                <p>Nome Completo: </p>
                <input type="text" />
                <p>RG: </p>
                <input type="text" />
                <p>Celular: </p>
                <input type="text" />
            </div>

            

            <div class="dados dados-do-agendamento">
                <h3> Dados do Agendamento</h3>
                <p>Camas:</p>
                <p>Banheiros:</p>
                <p>Valor Diaria:</p>
                <p>Data de Entrada: </p>
                <input type="text" />
                <p>Data de Saida: </p>
                <input type="text" />
            </div>


            <br />
            <br />
            <div class="botao">
                <button>Enviar Pedido</button>
            </div>
            <div class="Calendario">

            </div>
        
        </div>
</div>