@model List<vallezweb.Source.Entidades.Quarto>;
@{

    ViewData["Title"] = "Quartos";
}



<div class="barra-quartos">
    <div class="esquerda">
        <button>Suite Master</button>
        <button>Standards</button>
        <button>Simples</button>
    </div>
    <div class="direita">
        <p>Preço:</p>
        <input type="text" , placeholder="Min:" />
        <input type="text" , placeholder="Max:" />

    </div>
</div>

<div>
    <section class="quartos-agendamento">
        @foreach (var quarto in Model)
        {
            var valorSemanal = (quarto.ValorDiaria * 7).ToString("C", System.Globalization.CultureInfo.CurrentCulture);

            <div class="quartos">
                <div class="img-quartos">
                    <h1>@quarto.Descricao</h1>
                    <img src="~/imgs/hotel-cama.png" alt="">
                </div>
                <div class="dados-agendamento">
                    <div class="descricao-quarto">

                        <h1>Descrição do Quarto</h1>
                        <p>Valor do Quarto Diario: @quarto.ValorDiaria.ToString("C", System.Globalization.CultureInfo.CurrentCulture)</p>
                        <p>Valor do Quarto Semanal: @Html.DisplayFor(modelItem => valorSemanal) </p>
                        <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
                    </div>
                    <a >Agendar</a>
                </div>
            </div>
        }

        <!--
    <div class="quartos">
        <div class="img-quartos">
            <h1>Master 1</h1>
            <img src="~/imgs/hotel-cama.png" alt="">
        </div>
        <div class="dados-agendamento">
            <div class="descricao-quarto">

                <h1>Descrição do Quarto</h1>
                <p>Valor do Quarto Diario:</p>
                <p>Valor do Quarto Semanal:</p>
                <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
            </div>
            <button>Agendar</button>
        </div>
    </div>


    <div class="quartos">
        <div class="img-quartos">
            <h1>Master 1</h1>
            <img src="~/imgs/hotel-cama.png" alt="">
        </div>
        <div class="dados-agendamento">
            <div class="descricao-quarto">

                <h1>Descrição do Quarto</h1>
                <p>Valor do Quarto Diario:</p>
                <p>Valor do Quarto Semanal:</p>
                <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
            </div>
            <button>Agendar</button>
        </div>
    </div>

    <div class="quartos">
        <div class="img-quartos">
            <h1>Master 1</h1>
            <img src="~/imgs/hotel-cama.png" alt="">
        </div>
        <div class="dados-agendamento">
            <div class="descricao-quarto">

                <h1>Descrição do Quarto</h1>
                <p>Valor do Quarto Diario:</p>
                <p>Valor do Quarto Semanal:</p>
                <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
            </div>
            <button>Agendar</button>
        </div>
    </div>

    <div class="quartos">
        <div class="img-quartos">
            <h1>Master 1</h1>
            <img src="~/imgs/hotel-cama.png" alt="">
        </div>
        <div class="dados-agendamento">
            <div class="descricao-quarto">

                <h1>Descrição do Quarto</h1>
                <p>Valor do Quarto Diario:</p>
                <p>Valor do Quarto Semanal:</p>
                <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
            </div>
            <button>Agendar</button>
        </div>
    </div>

    <div class="quartos">
        <div class="img-quartos">
            <h1>Master 1</h1>
            <img src="~/imgs/hotel-cama.png" alt="">
        </div>
        <div class="dados-agendamento">
            <div class="descricao-quarto">

                <h1>Descrição do Quarto</h1>
                <p>Valor do Quarto Diario:</p>
                <p>Valor do Quarto Semanal:</p>
                <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
            </div>
            <button>Agendar</button>
        </div>
    </div>
    -->
    </section>

</div>



