@{
    ViewData["Title"] = "Quartos";
}



<div class="barra-quartos">
    <div class="esquerda">
        <button>Suite Master</button>
        <button>Standards</button>
        <button>Simples</button>
    </div>
    <div class="direita">
        <p>Preço:</p>
        <input type="text" , placeholder="Min:" />
        <input type="text" , placeholder="Max:" />

    </div>
</div>

<body>
    <section class="quartos-agendamento">
        <div>
            <div class="quartos">
                <div class="img-quartos">
                    <h1>Master</h1>
                    <img src="~/imgs/quarto-hotel.png" alt="">
                </div>
                <div>
                    <h1>Descrição do Quarto</h1>
                    <p>Valor do Quarto Diario:</p>
                    <p>Valor do Quarto Semanal:</p>
                    <p>Nosso Hotel nas Redes Sociais tem o objetivo de disponibilizar <br> promoções e novidades em quartos.<p>
                </div>
                <div>
                    <h1>Calendario Disponivel</h1>
                </div>
            </div>
        </div>
    </section>

</body>



