@{
    ViewData["Title"] = "Quartos";
}



<div class="barra-quartos">
    <div class="esquerda">
        <button>Suite Master</button>
        <button>Standards</button>
        <button>Simples</button>
    </div>
    <div class="direita">
        <p>Preço:</p>
        <input type="text" , placeholder="Min:" />
        <input type="text" , placeholder="Max:" />

    </div>
</div>



